.mainInfo {
	font-size: 30px;
	color: black;
}

.subInfo {
	font-size: 25px;
	color: #353535;
}

.marginTop {
	margin-top: 50px;
}

.marginBottom {
	margin-bottom: 50px;
}

.marginBottomSmall {
  margin-top: 25px;
}
.marginTopBottom {
	margin-top: 50px;
	margin-bottom: 50px;
}

.customContainer {
  position: relative;
  text-align: center;
  color: white;
}

.customContainerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  color:black;
}

.customContainerImage {
	width: 100%;
}

.black {
  color: black;
}
body {
  font-family: sans-serif; 
}
/* nav link on mobile */
.nav-link {
  text-align: center;
}

.headerImageContainer {
  position: relative;
  text-align: center;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  color:black;
}

.headerImageContainerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.headerImageContainerTextBackground {
  border: 1px solid white;
  transform: translate(-50%, -50%);
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  color:black;
}